

:root {
  --main-color: #ff7c00;
  --secondary-color: white;
  --main-text-color: #575758;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
}

/* ff7c00 orange */
/* 575758 grey */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: 	#575758; 
  text-align: center;
  margin-bottom: 100px;
  position: relative;
  box-sizing: border-box;
  
  width: 100%;
}

.app {
  height: 100%;
}

#root {
  height: 100%;
}

.home p {
  font-size: 24px;
}

#about {
  padding: 15px;
}

#about:hover {
  color: var(--main-color);
}

#demo {
  background-color: rgb(185, 185, 185);
  color: var(--send-message-form);
  padding: 15px;
}

#demo:hover {
  color: var(--main-color);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



.register {
  color: #666;
}

.register:hover {
  color: var(--main-color);
}

.button {
  display: inline-block;
  padding: 8px 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #575758;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 10px;
}

.button:hover {
  background-color: var(--main-color);
  color: #575758;
  border: 1px solid #575758;
}

.button:active {
  background-color: var(--main-color);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.input:hover {
  border: 1px solid #ff7c00;
}

.chatBubble {
  float: left;
  height: 26px;
  width: 30px;
  padding: 10px;
}

.currentUser {
  float: left;
  list-style: none;
  padding-top: 10px;
  font-size: 20px;
}

.navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: var(--main-color);
  border: 1px solid #ff7c00;
  cursor: pointer;
}

.active {
  background-color: var(--main-color);
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
  .chatBubble {
    background-color: rgb(185, 185, 185);
  }
  .topnav #myLinks {
    width: 100%;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {

  .dashboard{
    display: grid;
    height: 100%;
    text-align: left;
    grid-template-areas: 
        
        "r r r r r r"
        "n n n n n n"
        "m m m m m m"
        "m m m m m m"
        "m m m m m m"
        "f f f f f f";
  }

  .new-room-form {
    grid-area: n;
  }

  .send-message-form {
    grid-area: f;
  }

  .new-room-form input {
    height: 75%;
    background: var(--secondary-color);
    margin: 0;
  }
  
  .new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
    width: 25%;  
    height: 80%;
    padding: 15px 10px;
    margin: 0;
  } 

}

.navbar {
  width: 100%;
  background-color: rgb(185, 185, 185);
  overflow: auto;
  position: relative;
}

.image {
  width: 35%;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}



.new-room-form:hover, .send-message-form:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-text-color);
  color: var(--secondary-text-color);
}
@media screen and (min-width: 601px) {
.dashboard{
  display: grid;
  height: 100%;
  text-align: left;
  grid-template-columns: repeat(6);
  /* grid-template-rows:  60px; */
  grid-template-areas: 
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "r m m m m m"
      "n f f f f f";
}

.new-room-form {
  grid-area: n;
  height: 50px;
}

.send-message-form {
  grid-area: f;
  height: 50px;
}

.typingIndicator {
  grid-area: t;
  height: 30px;
}

}



/* REST OF CSS */
.rooms-list {
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--main-color);
  overflow: scroll;
  border: 1px solid  rgb(185, 185, 185);
}

.rooms-list > ul {
  list-style-type: none;    
  padding: 0;
  overflow: scoll;
}

.rooms-list li {
  margin: 10px 0;
}

.rooms-list > h3 {
  margin: 5px 0;
  color: var(--secondary-color);
}

.rooms-list .room a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
  
}

.rooms-list .room.active a {
  color: var(--send-message-form);
  font-weight: 600;
  text-decoration: none;
}

.rooms-list .room a:hover {
  color: var(--send-message-form);
  font-weight: 600;
  text-decoration: none;
  
}


.new-room-form {
  padding: 0 5px;
  background: var(--secondary-color);
  color: var(--main-text-color);
  border: 1px solid  rgb(185, 185, 185);
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-room-form input {
  /* width: 75%; */
  height: 75%;
  background: var(--secondary-color);
  margin: 0;
}

.new-room-form button {
  background: var(--secondary-color);
  color: var(--main-text-color);
  border: 0;
  width: 10%;  
  height: 80%;
  padding: 15px 10px;
  margin: 0;
} 

.new-room-form button:hover {
  background: var(--main-color);
  color: white;
  border-radius: 10px;
  width: 10%;  
  height: 80%;
  padding: 15px 10px;
  margin: 0;
} 

.new-room-form input::placeholder {
  color: var(--main-text-color);
  font-weight: 200;
}

.new-room-form input:focus {
  outline-width: 0;
}

.new-room-form input {
  border: 0;
}

.new-room-form button {
  border: 0;
}


.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 13px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}
/* 
.message .currentUser {
  background: var(--main-tcolor);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: right;
} */

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  overflow: scroll;
  background: var(--secondary-color);
  border: 1px solid  rgb(185, 185, 185);
}

.image {
  text-align: center;
}

.message-list .join-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
}

.send-message-form {
  background: var(--send-message-form);
  display: flex;
  border: 1px solid  rgb(185, 185, 185);
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: var(--send-message-form);
  font-weight: 200;

}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: var(--main-text-color);
}

/* .help-text {
  position: absolute;
  top: 10px;
} */

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(185, 185, 185);
  color: white;
  text-align: center;
}
